body
{
    font-family: 'Open Sans', sans-serif;
}

/*NAV BAR*/
#navigation-bar
{
    padding: 3% 0;
    
}

.navbar-brand
{
    margin: 0 1rem 0 5.5rem;

}

.nav-item
{
    padding: 15px;
    
}

.touch-btn
{
    margin: 0 2.5rem;
    padding: 1rem 1rem;
}


/*IMAGE-CONTAINER*/
#img-slideshow
{
    margin-bottom: 5rem;
}

.img-container
{
    height: 500px;
    max-width: 100%;
    background-size: cover;
    background-image: url(../images/building1.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 15% 15%;
    text-align: center;
    color: white;
}

.img-container h3
{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    line-height: 1.5;
    
}

.img-container p
{
    line-height: 1.5;
}

/*ABOUT Section*/
#about
{
    padding: 7% 10%;
    
}

.about-img
{
    width: 70%;
    margin-left: 3rem;
    height: 500px;
}


h5
{
    color: lightgrey;
}

.about-section h3
{
    width: 60%;
    line-height: 1.5;
    font-weight: bold;
    font-size: 2rem;
    
}

.about-section
{
    padding: 2rem 0;
}

hr
{
    border: solid #050505;
    border-bottom: none;
    width: 10%;
    
}

.about-section p
{
    width: 70%;
    
}

.about-desc
{
    padding: 1rem 0;
}

.circle-btn
{
    color: green;
}

.sample-text
{
    margin: 0 0 3rem;
}

/*Dream Section*/
#dream
{
    text-align: center;
    padding: 7% 15%;
}

#dream h3
{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 1.5rem 0 2rem;
}

.dream-container
{
    padding: 3% 2%;
}

.dream-img
{
    height: 250px;
    width: 250px;
    border-radius: 100%;
}